<section id="certification">
  <div class="container-fluid pt-5">
    <div class="text-dark text-center h3">Certifications</div>

    <div class="row justify-content-center py-md-5">
      <div class="d-md-none d-lg-none d-sm-block">
        <ol class="ex-ol pl-5 pr-3">
          
          <li class="ex-ol-li aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600" data-aos-once="true">
            <h4 class="text-muted">
              <span class="text-primary">ML-DL-Masters-Course</span> - iNeuron.ai
            </h4>
            <div>
              <small>August 2021</small>
              -
              <small>August 2022</small>
            </div>
            <ul class="py-2 ex">
              
              <li class="ex-item"><a href="">View Certificate</a></li>
              
            </ul>
            
          </li>
          
          <div class="h4 text-muted">
            <span class="text-primary">Sql-basics</span> - Datacamp
          </div>
          <div>
            <small>September 2021</small>
            -
            <small>October 2021</small>
          </div>
          <ul class="py-2 ex">
            
            <li class="ex-item"><a href="#" target="_blank">View Certificate</a></li>
            
          </ul>
        
        </div>
        

        
        
      </div>
    </div>
  </div>
</section>


